body {
    background-color: antiquewhite;
}

canvas {
    display: none;
}

.divTable {
    display: flex;
    width: 600px;
    height: 230px;
}

.divColumn {
    float: left;
    width: 33.33%;
    height: 220px;
}
.divColumnImageContent {
    width: 100%;
    height: 200px;
}

.divColumnButtonContent {
    float: right;
    height: 20px;
}

.divColumnText {
    width: 100%;
    height: 200px;
}

#T2ITextArea {
    width: 95%;
    height: 95%;
}

.mainDiv {
    margin: 0 auto;
    max-width: 600px;
    max-height: 400px;
}

#I2TTextArea {
    width: 95%;
    height: 95%;
}

.imageInput {
    display: none;
}
